*{vertical-align:baseline;font-family:inherit;font-size:100%;border:0 none;outline:0;padding:0;margin:0;color:#000;text-decoration:none;}
/*body{background-color:#ffffee;font:normal 1em/1.71em 'Courier New',Courier, monospace;}*/
body{background-color:#ffffee;font:normal 1em/1.71em Georgia,"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;}
#hover{padding-top:0.5em;padding-bottom:1.5em;}
#tnav {list-style:none;margin-top:.5em;margin-bottom:.5em;margin-left:80px}
#tnav li {float:left;margin-right:1em;font-size:90%;}
#main{padding-bottom:3em;width:800px;margin:0 auto;}
.delicious-posts,.hentry{margin-bottom:.5em;margin-top:.5em;margin-right:80px;margin-left:80px;font-weight:normal;}
/*#main p,h2,h3,h4,ol,ul,dd,pre,.image,.delicious-posts,.entry-content{margin-bottom:.5em;margin-top:.5em;margin-right:80px;margin-left:80px;font-weight:normal;}
#main h2,h3,h4,.image,.delicious-posts,.entry-content{margin-bottom:.5em;margin-top:.5em;margin-right:80px;margin-left:80px;font-weight:normal;}
.entry-content p,.entry-content ul,.entry-content ol,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content .image,{margin-right:0px !important;;margin-left:0px !important;}*/
#main p{margin-bottom:.71em; text-align: justify;}
#main p.photo {margin-left:0;margin-right:0;margin-top:1em;}
blockquote {margin-left:2em;color:#666;font-style:italic;}
blockquote p{padding-left:1em;color:#666;}
blockquote em,blockquote strong,blockquote span.caps{color:#666;}
h1{border-bottom: 2px solid; padding-bottom: 10px; margin-bottom:.2em;margin-top:1em;margin-left:80px;font-size:50px;color:#666;font-weight:300;text-align:left;}
h1 a,h1 a:hover {color:#666;font:normal 1em/1.71em 'Courier New',Courier, monospace;}
h2{margin-top:1.5em;margin-bottom:.71em;font-size:1.5em;text-align:left;}
.entry-content h3{margin:1em;font-size:1.3em;text-align:left;}
h4{margin-top:1.5em;font-size:1em;text-transform:uppercase;letter-spacing:.1em;text-align:left;}
#main h4.ad{margin-top:2em;font-size:90%;}
a{color:#A90000;}
a:hover {color:#000;}
.caps{text-transform:uppercase;letter-spacing:.1em;font-size:90%;}
.outleft{float:left;margin-left:-120px;width:60px;padding-right:20px;text-align:right;color:#666;font-size:90%;}
.outright{float:right;clear:both;margin-right:-260px;width:180px;text-align:left;color:#666;padding-left:20px;font-size:90%;}
.hfeed .outright{margin-right:-180px;}
.outright em,.outright strong,.outright cite{color:#666;}
.outleft em,.outleft strong .outleft cite{color:#666;}
#bottomnav{text-align:center;width:800px;margin:1em auto;}
#bottomnav a{margin-right:1em;margin-left:1em;}
.older {float:left;text-align:left; margin-left: 10px;}
.newer {float:right;text-align:right; margin-right: 10px;}
pre,code{font:normal 1em/1.71 monospace;}
img.ad{margin-bottom:.5em;margin-top:.5em;margin-right:1em;margin-left:80px;font-weight:normal;float:left;clear:right;}
img.ad{float:left;}
#main p.ads {margin-left:0;margin-top:1em;font-size:90%;}
#main p.adslug {font-size:90%;margin-top:3em;}

#tnav{display:none;}
#hover:hover #tnav{display:block;}
.entry-title{color:#a90000; }
.alignleft{float:left;margin: 0.3em;text-align:right;color:#666;font-size:90%;}
.alignright{float:right;margin-left: 1em;text-align:left;color:#666;font-size:90%;}
.caption-text{margin:0.5em !important;}
.wp-caption{margin:0.5em !important;}

.inline-button{font:bold 65%/1 Verdana,sans-serif;margin:0 0.2em;padding:0.1em 0;border:1px solid black;white-space:nowrap;text-decoration:none;vertical-align:middle;background:#ccc;color:black;}
.inline-button em {font-style:normal;margin:0;padding:0.1em 0.5em;background:white;color:black;}
.inline-button span {margin:0;padding:0.1em 0.5em 0.1em 0.3em;}
.inline-button:hover { background:#666;color:white;}
.inline-button:hover em {background:black;color:white;}
.orange {background:orange;color:black}
.orange em {background:white;color:#c60 }
.blue {background:#06c;color:white}
.blue em {background:white;color:#06c}
.green {background:green;color:white}
.green em {background:white;color:green}
.grey {background:gray;color:white}
.grey em {background:white;color:gray}

input.search {background:transparent url(/~stef/blog/images/srch_bg.gif) no-repeat scroll left top;border:0pt none;color:#000000;display:block;float:left;height:17px;padding:2px 1px 1px 8px;width:123px;}
ul,ol{margin-left: 20px;}
.entry-content{text-align: justify;};
